body{
    font-family: cursive;
    margin: 0;
    padding: 20px;
    background-color: rgb(229, 172, 255);
}

.cabeza{
    text-align: center;
    position: fixed;
    background-color: black;
}

.caja{
    flex: 1 1 calc(50% - 10px);
    padding: 20px;
    background-color: paleturquoise;
    border-radius: 6px;
    box-sizing: border-box;
}

.fijo{
    color: white;
}

.letras{
    color: white;
}

.mainez{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}